.user-container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 68px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.top-user-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin-right: 16px;
}
.logo-section{
    margin-top: 8px;
}
.logo-section img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
.profile-section{
    /* width: 100%; */
    padding: 3px;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.user-username-detail{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.user-username-detail h4{
    font-size: 22px;
    font-weight: 450;
}
.user-username-detail button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    background-color: #eee;
    border-radius: 6px;
}
.user-username-detail h3{
    font-size: 22px;
    margin-top: 4px;
}
.folling-followers-details{
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 6px 6px;
    margin-top: 2px;
}
.folling-followers-details h4{
    font-size: 16px;
    font-weight: 510;
}
.folling-followers-details span{
    font-size: 16px;
    font-weight: 460;
}
.user-other-bio-details{
    width: 100%;
}
.user-name{
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}
.user-name p{
    font-size: 14px;
    width: 190px;
    font-weight: 400;
}
.user-name h4{
    font-weight: 500;
}
/* .account-name{
    font-weight: 700;
    font-size: 16px;
} */
.user-line{
    position: relative;
    left: -40px;
    margin-top: 95px;
    margin-left: -19px ;
    width: 105%;
    border: 0.5px solid #eeeded;
    color: #eeeded;
}
.bottom-user-section{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botttom-user-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    width: 100%;
    /* margin-left: -20px; */
}
.post-saved{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}
.botttom-user-container p{
    margin-top: 5px;
    font-size: 18px;
    color: #6d6767;
}
.botttom-user-container span{
    font-size: 18x;
    font-weight: 440;
    color: #6d6767;
}
.post-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: 58px;
    cursor: pointer;
}
.post-box h1{
    font-size: 40px;
    font-weight: 450;
    border-radius: 50%;
    color: rgb(34, 30, 30);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
}
.post-box h2{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.1px;
}
.post-box p{
    margin-top: 4px;
}
.user-help-box{
    margin-top: 150px;
}
.modal-fetch-box{
    position: relative;
    background-color: white;
    padding: 10px 0px;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
}
.top-fetch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
    height: 28px;
    width: 100%;
}
.top-fetch h2{
    margin-top: 7px;
    cursor: pointer;
}
.top-fetch h2:active{
    color: #6d6767;
}
.top-fetch p{
    font-size: 17px;
    font-weight: 600;
}
#modal-next{
    color: #007bff;
    cursor: pointer;
}
#discard-modal-box{
    width: 370px;
    height: 220px;
}
.discard-file{
    padding: 14px;
    display: flex;
    flex-direction: column;
}
.discard-file p{
    margin-top: -10px;
    padding-bottom: 12px;
    color: #6d6767;
}
.fetch-img-box{
    margin-top: 14px;
}
.modal-fetch-img{
    width: 100%;
    height: 100%;
}
.modal-fetch-img img{
    width: 100%;
    height: 100%;
    max-height: 499px;
    object-fit: cover;
    cursor: grab;
    /* overflow: hidden; */
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
}
.set-modal-overlay{
    z-index: 1003;
}
.so-on-pic-box{
    position: absolute;
    bottom: 22px;
    right: 20px;
    z-index: 1001;
}
.so-on-pic-box p{
    color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #00000094;
}
.copy-ref.active{
    color: #000;
    background: white;
}
.so-on-pic-box p:hover{
    background-color: #00000077;
}
.so-on-pic-container{
    position: absolute;
    right: 18px;
    bottom: 62px;
    border-radius: 7px;
    width: 100%;
    max-width: 200px;
    height: 120px;
    color: #fff;
    background: #222222b7;
    transition: fadeIn .6s ease-out;
    display: none;
    overflow-x: auto;
    z-index: 1001;
}
.so-on-pic-container::-webkit-scrollbar {
    width: 0;
}

.so-on-pic-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.so-on-pic-container.active{
    display: block;
    transition: fadeIn 0.6s ease-out;
}
.max-img-box{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    justify-content: space-evenly;
    overflow-x: auto;
    width: 100%;
}
.so-on-images{
    position: relative;
}
.so-on-images p{
    position: absolute;
    right: 3px;
    top: 3px;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222222b7;
    cursor: pointer;
}
.so-on-images span{
    margin-top: -3px;
}
.so-on-images img{
    width:90px;
    /* max-width: 100px; */
    height: 103px;
    border: none;
    object-fit: cover;
}
.added-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    cursor: pointer;
}
.added-img p{
    margin-top: 2px;
    font-size: 24px;
    color: #949494bd;
}
.so-on-images {
    position: relative;
    display: inline-block;
  }

  .so-on-images.selected {
    border: 3px solid rgba(255, 255, 255, 0.3) ; 
    border-radius: 8px;
    height: 101px;
  }

  .so-on-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .image-slide img {
    width: 102%;
    height: 110%;
    max-height: 398px;
    object-fit: cover;
    cursor: grab;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    z-index: 1001;
  }

  /* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: white;
  background: rgba(255, 255, 255, 0.3); 
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.swiper-button-next{
    margin-right: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  width: 10px; 
  height: 10px;
  opacity: 1;
  margin: 5px; 
  border-radius: 50%;
  transition: transform 0.2s; 
}

.swiper-pagination-bullet-active {
  background: #007bff;
  transform: scale(1.2);
  border: 1px solid white; 
}

/* For smaller arrow icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px; 
}
.post-share-dec-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:12px;
}
.post-share-dec-username{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 18px;
    margin-top: 14px;
    margin-left: 4px;
}
.post-share-dec-username img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.post-share-dec-username p{
    font-weight: 600;
}
.post-textarea-box{
    margin-top: -15px;
    padding: 0 20px;
}
.post-textarea-box textarea{
    width:100%;
    height:160px;
    resize: none;
    border: none; 
     outline: none;
    padding: 8px 6px;
    font-size: 18px;
}
.post-emoji{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.post-width-line{
    width: 100%;
    border: 0.5px solid #eeeded;
    color: #eeeded;
}
.post-location-box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
}
.post-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 18px;
    cursor:pointer;
}
.post-other input{
    width: 100%;
    max-width: 300px;
    padding: 6px 6px;
    font-size: 17px;
    border: none;
    outline: none;
}
.post-accessibility p{
    font-size: 18px;
    font-weight: 300px;
    color: #6d6767;
    margin-left:6px;
}
.post-accessibility h3{
    color: #6d6767;
}
.posted-content{
    height: 100%;
    width: 100%;
}
.posted-content h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #6d6767;
    font-size: 22px;
    font-weight: 700;
}
/* .posted-container-user{
    position: relative;
    left: 0;
    margin-top: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2px;
    gap: 3px;
    width: 100%;
} */
.posted-images{
    position: relative;
    left: 0;
    margin-top: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2px;
    gap: 3px;
    width: 100%;
    text-align: left;
}
.posted-images img{
    height: 307px;
    width: 307px;
    cursor: pointer;
    object-fit: cover;
}
.posted-images img:hover{
    box-shadow: #000;
    background-color: #000000;
    z-index: 1001;
}
/* ========= postview modal========== */

.postview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.postview-content {
    background: white;
    /* padding: 10px; */
    border-radius: 10px;
    width: 80%;
    height: 95%;
    max-width: 90%;
    max-height: 90%;
    animation: fadeIn 0.4s ease-out;
    display: flex;
    /* gap: 6px; */
}

.postview-content img {
    width: 50%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}
.postview-comment-other-container{
    width: 50%;
    /* padding: 18px; */
}
.postview-user-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}
.postview-dp-username{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.postview-dp-username img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 3px;
}
.postview-dp-username h5{
    font-size: 15px;
    font-weight: 600;
}
.postview-dp-username p{
    font-size: 12px;
    font-weight: 500;
    color: #6d6767;
}
.postview-more p{
    font-size: 18px;
    cursor: pointer;
}
.postview-line-width{
   margin-top: 3px;
   width: 100%;
   border: 0.02px solid #e4e4e4;
}
.postreview-comment{
    padding: 16px;
    display: flex;
    gap: 12px;
    height: 342px;
    overflow-y: auto;
}
.postview-detail p{
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-top: 2px;
}
.postview-users-comments{
    display: flex;
    gap: 12px;
    cursor: pointer;
}
.postview-users-comments img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 3px;
}
.postview-users-comments h5{
    font-size: 15px;
    font-weight: 600;
}
.postview-users-comments p{
    font-size: 12px;
    font-weight: 500;
    color: #6d6767;
}
.postview-line-width-sec{
    width: 100%;
   border: 0.02px solid #e4e4e4;
}
.postview-liks-other-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}
.postview-likes-other{
    display: flex;
    align-items: center;
    gap: 16px;
    transition: 0.3s ease-in-out;
}
.postview-likes-other h3{
    font-size: 24px;
    color: #000;
    cursor: pointer;
    font-weight: 300;
}
.postview-likes-other h3:hover{
    color: #272727c4;
}
.postview-save h3{
    font-size: 24px;
    color: #000;
    font-weight: 300;
    cursor: pointer;
}
.postview-save h3:hover{
    color: #272727c4;
}

.likes-post{
    padding: 0px 16px;
}
.like-post-img img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.post-likes-username h5{
    font-weight: 400;
    /* color: #6d6767; */
}
.post-likes-username span{
    font-weight: 600;
}
.postview-line-width-third{
    width: 100%;
   border: 0.02px solid #e4e4e4;
   margin-top: 7px;
}
.add-post-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 16px;
}
.input-post-comment{
   display: flex;
   align-items: center;
   gap: 8px;
}
.input-post-comment h3{
    font-size: 26px;
    cursor: pointer;
}
.input-post-comment textarea{
    padding: 6px;
    margin-top: 9px;
    /* width: 100%; */
    width:430px;
    resize: none;
    border: none;
    outline: none;
    color: #333333;
    font-size: 14px;
    resize: none;
    overflow: hidden;
}
.post-post-submit p{
    margin-top: -5px;
    color: #007bff;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
}



@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }